.grid-wrapper {
    position: absolute;
    top: 280px;
    left: 85px;
    display: grid;
    width: fit-content;

    
}

@media (max-width: 600px) {
        .grid-wrapper {
            left:10px;
        }
}
