.grid-wrapper {
    position: absolute;
    top: 110px;
    left: 140px;
    display: grid;
    width: fit-content;

    
}

@media (max-width: 600px) {
        .grid-wrapper {
            left:10px;
        }
}
