.header-background-div {
    background-color: #12154C;
}


.header-content {
    width: 1740px;

    margin-left: auto;
    margin-right: auto;
    
    padding-top: 1%;
    padding-bottom: 1%;
    
}